
.black-text {
    color: black;
    font-size: 24px; 
    margin-bottom: 5px;
}
.standard-font {
    color: black;
    font-size: 16px; 
    margin-bottom: 5px;

}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

